body {
}
body {
    width: 100%;
    min-width: 500px;
}

.navbar {
    margin-bottom: 0;
    background: linear-gradient(to bottom, darkgray, black, black);
    padding-top: 5px;
}

.jumbotron {
    /*background-image: url('../Img/jumbotron.jpg');
    background-size: 100%;
    background-repeat: no-repeat;*/
    background-color:black;
    width: 100%;
    margin-bottom: 0;
}

.container {
    width: 100%;
    padding-top: 25px;
}

.row {
    margin-left:5%;
    margin-right:5%
}

.square {
    width: 300px;
	height: 300px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.rectangle {

	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-repeat: no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

.circular-big {
    width: 400px;
	height: 400px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-repeat: no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

.unicornation {
    width: 300px;
	height: 300px;
	box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
}

.gradient {
    background: linear-gradient(black, black, white);
    border: 1px solid transparent;
}

.blurred {
  opacity: 0.35;
  z-index: 5;
}

.onHover {
    z-index: 10;
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: gold;
    font-size: 2em;
}

.rarity {
    background-image: url(../Img/rarity.jpg)
}

.rainbowdash {
    background-image: url(../Img/rainbow_dash.jpg)
}

.applejack {
    background-image: url(../Img/applejack.jpg)
}

.pinkiepie {
    background-image: url(../Img/pinkie_pie.jpg)
}

.twilightsparkle {
    background-image: url(../Img/twilight_sparkle.jpg)
}

.fluttershy {
    background-image: url(../Img/fluttershy.jpg)
}

.chrysalis {
    background-image: url(../Img/chrysalis.jpg)
}
/*
.rarity {
    background-image: url(../Img/chrysalis.jpg)
}

.rarity {
    background-image: url(../Img/chrysalis.jpg)
}

.rarity {
    background-image: url(../Img/chrysalis.jpg)
}

.rarity {
    background-image: url(../Img/chrysalis.jpg)
}

.rarity {
    background-image: url(../Img/chrysalis.jpg)
}
*/
